
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Helvetica
}
html {
  font-size: 16px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

.header {
  background:  #ffff;
  color: #fff;
  position: relative;
  z-index: 1;
}

.dashboard-card {
  text-align: center;
  margin: 30px;
}

